# 11-1 데이터 집계
## (1) 데이터 집계하기 - groupby 메서드
### 해보세요! 그룹바이 메서드로 평균값 구하기

In [1]:
#1 갭마인더 데이터 집합 불러오기
import pandas as pd
df = pd.read_csv('./data/gapminder.tsv', sep='\t')

In [12]:
df.tail(20)

       country continent  year  lifeExp       pop    gdpPercap
1684    Zambia    Africa  1972   50.107   4506497  1773.498265
1685    Zambia    Africa  1977   51.386   5216550  1588.688299
1686    Zambia    Africa  1982   51.821   6100407  1408.678565
1687    Zambia    Africa  1987   50.821   7272406  1213.315116
1688    Zambia    Africa  1992   46.100   8381163  1210.884633
1689    Zambia    Africa  1997   40.238   9417789  1071.353818
1690    Zambia    Africa  2002   39.193  10595811  1071.613938
1691    Zambia    Africa  2007   42.384  11746035  1271.211593
1692  Zimbabwe    Africa  1952   48.451   3080907   406.884115
1693  Zimbabwe    Africa  1957   50.469   3646340   518.764268
1694  Zimbabwe    Africa  1962   52.358   4277736   527.272182
1695  Zimbabwe    Africa  1967   53.995   4995432   569.795071
1696  Zimbabwe    Africa  1972   55.635   5861135   799.362176
1697  Zimbabwe    Africa  1977   57.674   6642107   685.587682
1698  Zimbabwe    Africa  1982   60.363   7636524   788.855041
1699  Zimbabwe    Africa  1987   62.351   9216418   706.157306
1700  Zimbabwe    Africa  1992   60.377  10704340   693.420786
1701  Zimbabwe    Africa  1997   46.809  11404948   792.449960
1702  Zimbabwe    Africa  2002   39.989  11926563   672.038623
1703  Zimbabwe    Africa  2007   43.487  12311143   469.709298

In [2]:
#2 year 열 기준으로 그룹화한 뒤 lifeExp 열의 평균 구하기
avg_life_exp_by_year = df.groupby('year').lifeExp.mean()
print(avg_life_exp_by_year)

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

## (2) 분할-반영-결합 과정 살펴보기

In [10]:
#1 그룹바이 하면 분할이 먼저 일어난다
years = df.year.unique()
print(years)

[1952 1957 1962 1967 1972 1977 1982 1987 1992 1997 2002 2007]

In [11]:
#2 연도별 평균값을 구한다
y1952 = df.loc[df.year == 1952, :]
print(y1952.head())

        country continent  year  lifeExp       pop    gdpPercap
0   Afghanistan      Asia  1952   28.801   8425333   779.445314
12      Albania    Europe  1952   55.230   1282697  1601.056136
24      Algeria    Africa  1952   43.077   9279525  2449.008185
36       Angola    Africa  1952   30.015   4232095  3520.610273
48    Argentina  Americas  1952   62.485  17876956  5911.315053

In [13]:
#3 과정 2에서 추출한 1952년 데이터에서 lifeExp 열의 평균값을 구한다
y1952_mean = y1952.lifeExp.mean()
print(y1952_mean)

49.057619718309866

In [14]:
#4 과정 2~3을 반복해 남은 연도의 평균값을 구한다
y1957 = df.loc[df.year == 1957, :]
y1957_mean = y1957.lifeExp.mean()
print(y1957_mean)

51.50740112676056

In [15]:
#5 연도별로 계산한 lifeExp 평균값 합친다 (결합)
# 생략

## (3) groupby 메서드와 함께 사용하는 집계 메서드
- count: 누락값을 제외한 데이터 수를 반환
- size: 누락값을 포함한 데이터 수를 반환
- mean: 평균값 반환
- std: 표준편차
- min: 최솟값
- quantile(q=0.25): 백분위수 25%
- quantile(q=0.50): 백분위수 50%
- quantile(q=0.75): 백분위수 75%
- max: 최댓값 반환
- sum: 전체 합 반환
- var: 분산 반환
- sem: 평균의 표준편차 반환
- describe: 데이터 수, 평균, 표준편차, 최소값, 백분위수, 최댓값 모두 반환
- first: 첫번째 행 반환
- last: 마지막 행 반환
- nth: n번째 행 반환

## (4) agg 메서드로 사용자 함수와 groupby 메서드 조합하기
- 라이브러리에서 제공하는 집계 메서드로 원하는 값을 계산할 수 없는 경우에는 직접 함수를 만들어서 사용해야 한다. 

### 해보세요! 평균값을 구하는 사용자 함수와 groupby 메서드

In [16]:
#1 열의 평균값을 구하는 함수 작성하기
def my_mean(values):
    n = len(values)
    sum = 0
    for value in values:
        sum += value
    return sum / n

In [17]:
#2  agg 메서드를 사용해 위 함수를 groupby 메서드와 조합
agg_my_mean = df.groupby('year').lifeExp.agg(my_mean)
print(agg_my_mean)

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

### 해보세요! 2개의 인잣값을 받아 처리하는 사용자 함수와 groupby 메서드

In [18]:
#1 2개의 인잣값을 받아 처리하는 사용자 정의 함수
def my_mean_diff(values, diff_value):
    n = len(values)
    sum = 0
    for value in values:
        sum += value
    mean = sum / n
    return mean - diff_value

In [19]:
#2 연도별 평균 수명 - 전체 평균 수명
global_mean = df.lifeExp.mean()
print(global_mean)

59.474439366197174

In [22]:
agg_mean_diff = df.groupby('year').\
lifeExp.agg(my_mean_diff, diff_value=global_mean)
print(agg_mean_diff)

year
1952   -10.416820
1957    -7.967038
1962    -5.865190
1967    -3.796150
1972    -1.827053
1977     0.095718
1982     2.058758
1987     3.738173
1992     4.685899
1997     5.540237
2002     6.220483
2007     7.532983
Name: lifeExp, dtype: float64

## (5) 여러 개의 집계 메서드 한 번에 사용하기
### 해보세요! 집계 메서드를 리스트, 딕셔너리에 담아 전달하기

In [25]:
#1 연도별로 그룹화한 lifeExp 열의 0이 아닌 값의 개수, 평균, 표준편차를
# 한번에 계산해 출력한 것
# 넘파이 메서드인 count_nonzero, mean, std를 리스트에 담아 agg 메서드에 전달
import numpy as np
gdf = df.groupby('year').lifeExp.agg([np.count_nonzero, np.mean, np.std])
print(gdf)

      count_nonzero       mean        std
year
1952          142.0  49.057620  12.225956
1957          142.0  51.507401  12.231286
1962          142.0  53.609249  12.097245
1967          142.0  55.678290  11.718858
1972          142.0  57.647386  11.381953
1977          142.0  59.570157  11.227229
1982          142.0  61.533197  10.770618
1987          142.0  63.212613  10.556285
1992          142.0  64.160338  11.227380
1997          142.0  65.014676  11.559439
2002          142.0  65.694923  12.279823
2007          142.0  67.007423  12.073021

In [27]:
#2 집계 메서드를 딕셔너리에 담아 agg 메서드에 전달
# 딕셔너리의 키로 집계 메서드를 적용할 열 이름을 전달
# 딕셔너리의 값으로 집계 메서드를 전달
gdf_dict = df.groupby('year').agg({'lifeExp': 'mean', 
                                   'pop': 'median', 
                                   'gdpPercap': 'median'})

In [28]:
print(gdf_dict)

        lifeExp         pop    gdpPercap
year
1952  49.057620   3943953.0  1968.528344
1957  51.507401   4282942.0  2173.220291
1962  53.609249   4686039.5  2335.439533
1967  55.678290   5170175.5  2678.334741
1972  57.647386   5877996.5  3339.129407
1977  59.570157   6404036.5  3798.609244
1982  61.533197   7007320.0  4216.228428
1987  63.212613   7774861.5  4280.300366
1992  64.160338   8688686.5  4386.085502
1997  65.014676   9735063.5  4781.825478
2002  65.694923  10372918.5  5319.804524
2007  67.007423  10517531.0  6124.371109

# 11-2 데이터 변환
## (1) 표준점수 계산하기
- 표준점수: 데이터의 평균과 표준편차의 차이

### 해보세요! 표준점수 계산하기

In [29]:
#1 표준점수 계산하는 함쑤
def my_zscore(x):
    return (x - x.mean()) / x.std()

In [30]:
#2 각 연도별 lifeExp 열의 표준점수 계산하기
# my_zscore 함수를 적용하기 위해 transform 메서드를 사용
transform_z = df.groupby('year').lifeExp.transform(my_zscore)
print(transform_z.head())

0   -1.656854
1   -1.731249
2   -1.786543
3   -1.848157
4   -1.894173
Name: lifeExp, dtype: float64

In [31]:
#3 my_zscore 함수는 데이터를 표준화할 뿐 집계는 하지 않는다
# 데이터의 양이 줄어들지 않는다
# 원본 df의 데이터 크기와 변환한 데이터프레임의 데이터 크기 비교
print(df.shape)
print(transform_z.shape)

(1704, 6)
(1704,)

## (2) 누락값을 평균값으로 처리하기
### 해보세요! 누락값을 평균값으로 처리하기

In [32]:
#1 total_bill 열의 값 4개를 임의로 선택해 누락값으로 바꾸기
import seaborn as sns
import numpy as np
np.random.seed(42)
tips_10 = sns.load_dataset('tips').sample(10)
tips_10.loc[np.random.permutation(tips_10.index)[:4], 'total_bill'] = np.NaN
print(tips_10)

     total_bill   tip     sex smoker   day    time  size
176         NaN  3.18    Male     No   Sat  Dinner     2
211         NaN  2.00    Male     No   Sun  Dinner     2
198         NaN  2.00    Male     No   Sun  Dinner     4
153         NaN  5.16    Male    Yes   Sat  Dinner     4
101       13.00  2.00  Female    Yes  Thur   Lunch     2
6         17.89  2.00    Male    Yes   Sun  Dinner     2
192       28.44  2.56    Male    Yes  Thur   Lunch     2
124       12.48  2.52  Female     No  Thur   Lunch     2
24        14.78  3.23    Male     No   Sun  Dinner     2
9         15.38  3.00  Female    Yes   Fri  Dinner     2

In [34]:
#2 성별로 그룹화한 다음 데이터 수 구하기
count_sex = tips_10.groupby('sex').count()
print(count_sex)

        total_bill  tip  smoker  day  time  size
sex
Male             3    7       7    7     7     7
Female           3    3       3    3     3     3

In [35]:
#3 성별을 구분해 total_bill 열의 데이터를 받아 평균값 구하기
def fill_na_mean(x):
    avg = x.mean()
    return x.fillna(avg)

In [ ]:
total_bill_group_mean = tips_10.groupby('sex').total

In [36]:
#4 성별을 구분한 total_bill 열의 데이터를 fill_na_mean 함수에 전달하여
# 평균값을 구한 다음 tips_10에 새로운 열로 추가
total_bill_group_mean = tips_10.groupby('sex').total_bill.transform(fill_na_mean)
tips_10['fill_total_bill'] = total_bill_group_mean
print(tips_10)

     total_bill   tip     sex smoker   day    time  size  fill_total_bill
176         NaN  3.18    Male     No   Sat  Dinner     2            20.37
211         NaN  2.00    Male     No   Sun  Dinner     2            20.37
198         NaN  2.00    Male     No   Sun  Dinner     4            20.37
153         NaN  5.16    Male    Yes   Sat  Dinner     4            20.37
101       13.00  2.00  Female    Yes  Thur   Lunch     2            13.00
6         17.89  2.00    Male    Yes   Sun  Dinner     2            17.89
192       28.44  2.56    Male    Yes  Thur   Lunch     2            28.44
124       12.48  2.52  Female     No  Thur   Lunch     2            12.48
24        14.78  3.23    Male     No   Sun  Dinner     2            14.78
9         15.38  3.00  Female    Yes   Fri  Dinner     2            15.38

# 11-3 데이터 필터링
- 그룹화한 데이터에서 원하는 데이터 걸러내고 싶을때 사용

### 해보세요! 데이터 필터링 사용하기 - filter 메서드

In [45]:
#1 tips 데이터 집합 불러와 데이터 크기 확인
tips = sns.load_dataset('tips')
print(tips.shape)

(244, 7)

In [47]:
#2 size 열의 데이터 수를 확인하면 1, 5, 6 테이블의 주문이 매두 적다
print(tips['size'].value_counts())

2    156
3     38
4     37
5      5
6      4
1      4
Name: size, dtype: int64

In [71]:
#3 30번 이상의 주문이 있는 테이블만 추리기
tips_filtered = tips.groupby('size').filter(lambda x: x['size'].count() >= 30)

In [73]:
tips_filtered.shape

(231, 7)

# 11-4 그룹 오브젝트
## (1) 그룹 오브젝트 살펴보기
### 해보세요! 그룹 오브젝트 저장해 살펴보기

In [75]:
#1 tips 데이터에서 임의로 10개의 데이터 추출하기
tips_10 = sns.load_dataset('tips').sample(10, random_state=42)
tips_10

     total_bill   tip     sex smoker   day    time  size
24        19.82  3.18    Male     No   Sat  Dinner     2
6          8.77  2.00    Male     No   Sun  Dinner     2
153       24.55  2.00    Male     No   Sun  Dinner     4
211       25.89  5.16    Male    Yes   Sat  Dinner     4
198       13.00  2.00  Female    Yes  Thur   Lunch     2
176       17.89  2.00    Male    Yes   Sun  Dinner     2
192       28.44  2.56    Male    Yes  Thur   Lunch     2
124       12.48  2.52  Female     No  Thur   Lunch     2
9         14.78  3.23    Male     No   Sun  Dinner     2
101       15.38  3.00  Female    Yes   Fri  Dinner     2

In [79]:
#2 groupby 메서드의 결괏값 출력해 자료형이 그룹 오브젝트인 것을 확인하기
grouped = tips_10.groupby('sex')
print(grouped)

<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x11ebd5b38>

In [80]:
#3 groups 속성을 출력해 그룹 오브젝트에 포함된 그룹 보기
print(grouped.groups)

{'Male': Int64Index([24, 6, 153, 211, 176, 192, 9], dtype='int64'), 'Female': Int64Index([198, 124, 101], dtype='int64')}

## (2) 한 번에 그룹 오브젝트 계산하기
### 해보세요! 그룹 오브젝트의 평균 구하기

In [83]:
#1 그룹 오브젝트를 이용해 평균 구하기
avgs = grouped.mean()
print(avgs)

        total_bill       tip      size
sex
Male         20.02  2.875714  2.571429
Female       13.62  2.506667  2.000000

In [84]:
#2 그룹연산에 적합한 열을 알아서 골라준다
print(tips_10.columns)

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

## (3) 그룹 오브젝트 활용하기
### 해보세요! 그룹 오브젝트에서 데이터 추출하고 반복하기

In [86]:
#1 get_group 메서드로 그룹 오브젝트에서 특정 데이터만 추출하기
# sex 열로 그룹화한 그룹 오브젝트에서 성별인 여성인 데이터만 추출하기
female = grouped.get_group('Female')
print(female)

     total_bill   tip     sex smoker   day    time  size
198       13.00  2.00  Female    Yes  Thur   Lunch     2
124       12.48  2.52  Female     No  Thur   Lunch     2
101       15.38  3.00  Female    Yes   Fri  Dinner     2

In [91]:
#2 그룹 오브젝트를 반복문으로 사용
# 각 성별 그룹의 데이터를 반복문을 이용해 출력하기
for sex_group in grouped:
    print(sex_group)

('Male',      total_bill   tip   sex smoker   day    time  size
24        19.82  3.18  Male     No   Sat  Dinner     2
6          8.77  2.00  Male     No   Sun  Dinner     2
153       24.55  2.00  Male     No   Sun  Dinner     4
211       25.89  5.16  Male    Yes   Sat  Dinner     4
176       17.89  2.00  Male    Yes   Sun  Dinner     2
192       28.44  2.56  Male    Yes  Thur   Lunch     2
9         14.78  3.23  Male     No   Sun  Dinner     2)
('Female',      total_bill   tip     sex smoker   day    time  size
198       13.00  2.00  Female    Yes  Thur   Lunch     2
124       12.48  2.52  Female     No  Thur   Lunch     2
101       15.38  3.00  Female    Yes   Fri  Dinner     2)

## (4) 여러 열을 사용해 그룹 오브젝트 만들고 계산하기
### 해보세요! 그룹 오브젝트 계산하고 살펴보기

In [93]:
#1 sex, time 열을 기준으로 데이터를 그룹화하고 평균 구하기
bill_sex_time = tips_10.groupby(['sex', 'time'])
group_avg = bill_sex_time.mean()
print(group_avg)

               total_bill       tip      size
sex    time
Male   Lunch    28.440000  2.560000  2.000000
       Dinner   18.616667  2.928333  2.666667
Female Lunch    12.740000  2.260000  2.000000
       Dinner   15.380000  3.000000  2.000000

In [97]:
#2 자료형 확인과 포함 열 확인
print(type(group_avg))
print(group_avg.columns)

<class 'pandas.core.frame.DataFrame'>
Index(['total_bill', 'tip', 'size'], dtype='object')

In [98]:
#3 인덱스 출력하기
print(group_avg.index)

MultiIndex(levels=[['Male', 'Female'], ['Lunch', 'Dinner']],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]],
           names=['sex', 'time'])

In [100]:
#4 인덱스 새로 부여하기
group_method = tips_10.groupby(['sex', 'time']).mean().reset_index()
print(group_method)

      sex    time  total_bill       tip      size
0    Male   Lunch   28.440000  2.560000  2.000000
1    Male  Dinner   18.616667  2.928333  2.666667
2  Female   Lunch   12.740000  2.260000  2.000000
3  Female  Dinner   15.380000  3.000000  2.000000

In [101]:
#5 인덱스 새로 부여하기2
group_param = tips_10.groupby(['sex', 'time'], as_index=False).mean()
print(group_param)

      sex    time  total_bill       tip      size
0    Male   Lunch   28.440000  2.560000  2.000000
1    Male  Dinner   18.616667  2.928333  2.666667
2  Female   Lunch   12.740000  2.260000  2.000000
3  Female  Dinner   15.380000  3.000000  2.000000